/* CSS para la página de error 404 */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto en negro */
  margin: 0;
  padding: 0;
}

.container {
  min-height: 80vh; /* Alto mínimo para la página */
}

h1.display-4 {
  font-size: 5rem; /* Tamaño grande para el número de error */
  font-weight: bold;
  color: #333; /* Gris oscuro para el número de error */
}

p.lead {
  font-size: 1.25rem;
  color: #6c757d; /* Gris claro para el texto de la descripción */
  margin-top: 10px;
}

a.btn {
  background-color: #000000; /* Botón negro */
  color: #ffffff; /* Texto blanco */
  font-size: 1.2rem;
  padding: 12px 30px;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s ease;
  display: inline-block;
  margin-top: 20px;
}

a.btn:hover {
  background-color: #343a40; /* Gris oscuro cuando pasa el ratón */
  transform: translateY(-3px); /* Efecto de elevación */
}


img.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
  object-fit: cover; /* Esto asegura que la imagen cubra el área disponible */
  object-position: top center; /* Esto posiciona la imagen para que recorte desde abajo */
  clip-path: inset(0 0 40px 0); /* Recorta 5 píxeles desde la parte inferior */
}


/* Estilo para la fila y la columna */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col-md-6 {
  flex: 1;
}

@media (max-width: 768px) {
  .col-md-6 {
    flex-basis: 100%; /* En pantallas pequeñas, las columnas ocupan el 100% */
  }

  h1.display-4 {
    font-size: 3.5rem; /* Reduce el tamaño del texto en pantallas pequeñas */
  }
}
