<app-nav-bar> </app-nav-bar>

<div class="container d-flex flex-column justify-content-center align-items-center " style="min-height: 65vh;">
  <div class="row w-100 align-items-center">
    <!-- Texto de error -->
    <div class="col-md-6 text-center">
      <h1 class="display-4 text-danger">Error 404</h1>
      <p class="lead text-muted">Buscamos por todos lados, pero no encontramos lo que buscabas :c</p>

      <a [routerLink]="['/home']" class="btn btn-primary btn-lg mt-4">Volver al inicio</a>
    </div>

    <!-- Imagen de error -->
    <div class="col-md-6">
      <img src='https://media.istockphoto.com/id/1415203156/es/vector/p%C3%A1gina-de-error-icono-vectorial-de-p%C3%A1gina-no-encontrada-en-el-dise%C3%B1o-de-estilo-de-l%C3%ADnea.jpg?s=612x612&w=0&k=20&c=nss_aWPtTb0hpc4oiGfFs_PGfihrNwVX06wxkWVkBfQ=' class="img-fluid" />
    </div>
  </div>
</div>


<app-footer></app-footer>
