<footer class="footer bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <!-- Column 1: Company Information -->
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>We are a modern e-commerce platform offering the best products at the best prices. Our goal is to provide an excellent shopping experience for our customers.</p>
      </div>

      <!-- Column 2: Quick Links -->
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none" [routerLink]="['/home']" >Home</a></li>
          <li><a href="#" class="text-white text-decoration-none">Shop</a></li>
          <li><a href="#" class="text-white text-decoration-none" (click)="['/contact-us']" >Contact Us</a></li>
          <li><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
        </ul>
      </div>

      <!-- Column 3: Social Media Links -->
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <div class="social-icons">
          <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i> Facebook</a>
          <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i> Twitter</a>
          <a href="#" class="text-white me-3"><i class="bi bi-instagram"></i> Instagram</a>
          <a href="#" class="text-white"><i class="bi bi-linkedin"></i> LinkedIn</a>
        </div>
      </div>
    </div>

    <!-- Footer Bottom: Copyright Information -->
    <div class="row mt-4">
      <div class="col text-center">
        <p>&copy; 2024 My E-commerce Website. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
