<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container-fluid">
      <!-- Logo or site name -->
      <a class="navbar-brand" href="#" [routerLink]="['/home']">La Segunda Vida</a>

      <!-- Toggle for small screens -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/home']">Inicio</a>

          </li>
            <li class="nav-item" >
              <a class="nav-link" href="#" [routerLink]="['/cart']">Carrito</a>


            </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/about-us']">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="['/contact-us']">Contactanos</a>
          </li>
        </ul>
      </div>

      <!-- Si el usuario está cargado, mostrar su imagen, si no, mostrar la hamburguesa -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <!-- Mostrar imagen del usuario si está logueado, o ícono de hamburguesa si no lo está -->
            <img *ngIf="user" [src]="userImage" class="rounded-circle" alt="User Image" width="30" height="30" />
            <i *ngIf="!user" class="bi bi-list"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <!-- Cambiar el routerLink dinámicamente usando el userId -->
            <li><a class="dropdown-item" href="#" [routerLink]="['/user-profile', userId]"> Mi perfil</a></li>
            <li><a class="dropdown-item" href="#"> Opciones</a></li>
            <li><a class="dropdown-item" href="#" (click)="[logout()]" > Cerrar Session</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
